* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Very-light-grey: hsl(0, 0%, 95%);
  --paragraph-color: hsla(0, 0%, 100%, 0.75);
}

body {
  background-color: var(--Very-light-grey);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

p {
  color: var(--paragraph-color);
}

h2 {
  color: var(--Very-light-grey);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 935px;
}

main {
  padding: 4rem 0;
}

.row {
  border-radius: 1rem;
  overflow: hidden;
}

.column {
  padding: 1rem 3rem;
}

.sedan {
  background-color: var(--Bright-orange);
}

.suvs {
  background-color: var(--Dark-cyan);
}

.luxury {
  background-color: var(--Very-dark-cyan);
}

.btn {
  background-color: var(--Very-light-grey);
  border-radius: 2rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  border: 2px solid white;
}

button.btn:hover {
  background-color: transparent;
  color: white;
}

.sedan .btn {
  color: var(--Bright-orange);
}

.suvs .btn {
  color: var(--Dark-cyan);
}

.suvs .btn {
  color: var(--Very-dark-cyan);
}

@media screen and (max-width: 535px) {
  .col {
    flex: none;
  }

  .container {
    width: 90%;
  }
}
